:root {
    // Var colors
    --color-links: #ffffff;
    --color-profile: #ECF4FE;
    --primary-color: #BD9729;
    --second-color: #ECF4FE;
    --bgblack: #000000;
    --color-bgboxicons: #3B4559;
    --bgprojects: #0c0c0c;
    --bg-color-education: #151515;

}

* {
    box-sizing: border-box;
    font-family: "Lato", Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 200vw;
    background-color: var(--bgblack);

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;

        .logo {
            width: 55px;
            margin: 15px;
        }

        nav {
            width: 400px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            margin-right: 50px;

            a {

                font-weight: 300;
                font-size: 18px;
                font-style: normal;
                color: var(--color-links);
                text-transform: uppercase;
                text-decoration: none;
                position: relative;
                padding-bottom: 10px;

                &::after {

                    content: "";
                    width: 0%;
                    height: 2px;
                    background-color: var(--primary-color);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: width 0.6s ease;
                    display: flex;
                    flex-direction: column;

                }

                &:hover::after {
                    width: 60%;
                }
            }
        }
    }

    .profile-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        background-image: url("../assets/img/shadow.png");
        background-repeat: no-repeat;
        background-size: cover;

        .left-section {
            width: fit-content;
            position: relative;
            display: flex;
            align-items: center;

            .profile {
                color: var(--color-profile);

                .name {
                    font-size: 64px;
                    text-transform: uppercase;
                }

                .profession {
                    font-size: 40px;
                    font-weight: 200;
                }

                .divider {
                    width: 160px;
                    height: 1px;
                    margin: 10px 5px;
                    background-color: var(--primary-color);
                }

                .social-medias {
                    width: 160px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    margin: 10px 5px;

                    img {
                        width: 40px;
                        transition: transform 0.5s ease;
                    }

                    .circle-linkedin,
                    .circle-whats,
                    .circle-github {
                        img:hover {
                            transform: scale(1.2);

                        }
                    }
                }
            }
        }


        .btn-up {
            position: fixed;
            bottom: 0;
            right: 0;
            margin-right: 10px;
            margin-bottom: 10px;

            img {
                filter: brightness(80%);
                width: 50px;
            }
        }
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-section {

        align-self: flex-end;

        img {
            filter: brightness(70%);
            width: 400px;
            margin-right: 10px;
        }
    }

    .projects-section {
        background-color: var(--bgprojects);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .title-projects {

            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 26px 0;

            .title {
                font-weight: 300;
                font-size: 38px;
                text-transform: uppercase;
                color: white;

            }
        }

        .container-projects {
            color: var(--second-color);
            width: fit-content;
            margin: 0 auto 48px auto;

            .projects {
                display: flex;
                flex-direction: column;
                padding: 10px 32px;
                gap: 64px;

                .project-um {
                    width: min-content;
                    background-color: #1a1919;
                    display: flex;
                    flex-direction: row;
                    padding: 16px;
                    border-radius: 8px;

                    .image {
                        width: 500px;
                        height: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .info-project {
                        padding: 10px 20px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;

                        .descriptions {

                            .title {
                                font-size: 32px;
                                text-transform: uppercase;
                            }

                            .description {
                                margin: 20px 0;
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }

                        .technologies {
                            width: fit-content;
                            display: flex;
                            gap: 12px;

                            img {
                                width: 36px;
                            }
                        }

                        .deploy {
                            width: fit-content;
                            height: 30px;
                            display: flex;
                            gap: 50px;
                            margin-top: 10px;

                            a {
                                width: 140px;
                                height: auto;

                                background-color: #ECF4FE;
                                border: none;
                                border-radius: 6px;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 500;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                transition: background-color 0.6s ease, color 0.6s ease;

                            }

                            a:hover {
                                background-color: #300046;
                                color: white;
                            }
                        }
                    }
                }

                .project-dois {
                    width: min-content;
                    background-color: #1a1919;
                    display: flex;
                    flex-direction: row;
                    padding: 16px;
                    border-radius: 8px;

                    .image {
                        width: 500px;
                        height: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .info-project {
                        padding: 10px 20px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;

                        .descriptions {

                            .title {
                                font-size: 32px;
                                text-transform: uppercase;
                            }

                            .description {
                                margin: 20px 0;
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }

                        .technologies {
                            width: fit-content;
                            display: flex;
                            gap: 12px;

                            img {
                                width: 36px;
                            }
                        }

                        .deploy {
                            width: fit-content;
                            height: 30px;
                            display: flex;
                            gap: 50px;
                            margin-top: 10px;

                            a {
                                width: 140px;
                                height: auto;

                                background-color: #ECF4FE;
                                border: none;
                                border-radius: 6px;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 500;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                transition: background-color 0.6s ease, color 0.6s ease;

                            }

                            a:hover {
                                background-color: #2C9B8B;
                                color: white;
                            }

                        }

                    }

                }

                .project-tres {
                    width: min-content;
                    background-color: #1a1919;
                    display: flex;
                    flex-direction: row;
                    padding: 16px;
                    border-radius: 8px;

                    .image {
                        width: 500px;
                        height: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .info-project {
                        padding: 10px 20px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;

                        .descriptions {

                            .title {
                                font-size: 32px;
                                text-transform: uppercase;
                            }

                            .description {
                                margin: 20px 0;
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }

                        .technologies {
                            width: fit-content;
                            display: flex;
                            gap: 12px;

                            img {
                                width: 36px;
                            }
                        }

                        .deploy {
                            width: fit-content;
                            height: 30px;
                            display: flex;
                            gap: 50px;
                            margin-top: 10px;

                            a {
                                width: 140px;
                                height: auto;

                                background-color: #ECF4FE;
                                border: none;
                                border-radius: 6px;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 500;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                transition: background-color 0.6s ease, color 0.6s ease;

                            }

                            a:hover {
                                background-color: var(--primary-color);
                                color: white;
                            }

                        }

                    }
                }

                .project-quatro {
                    width: min-content;
                    background-color: #1a1919;
                    display: flex;
                    flex-direction: row;
                    padding: 16px;
                    border-radius: 8px;

                    .image {
                        width: 500px;
                        height: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .info-project {
                        padding: 10px 20px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;

                        .descriptions {

                            .title {
                                font-size: 32px;
                                text-transform: uppercase;
                            }

                            .description {
                                margin: 20px 0;
                                font-size: 20px;
                                font-weight: 300;
                            }

                            span {
                                font-weight: 700
                            }
                        }

                        .technologies {
                            width: fit-content;
                            display: flex;
                            gap: 12px;

                            img {
                                width: 36px;
                            }
                        }

                        .deploy {
                            width: fit-content;
                            height: 30px;
                            display: flex;
                            gap: 50px;
                            margin-top: 10px;

                            a {
                                width: 140px;
                                height: auto;

                                background-color: #ECF4FE;
                                border: none;
                                border-radius: 6px;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-weight: 500;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                transition: background-color 0.6s ease, color 0.6s ease;

                            }

                            a:hover {
                                background-color: #BE0000;
                                color: white;
                            }

                        }

                    }
                }
            }
        }
    }

    .education-section {
        height: 100vh;
        background-color: var(--bg-color-education);

        .title-education {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            .title {
                padding: 26px 0;
                font-weight: 300;
                font-size: 38px;
                text-transform: uppercase;
                color: white;
            }
        }

        .container-section {
            text-transform: uppercase;
            height: 80%;
            padding: 18px;
            display: flex;
            flex-direction: row;

            .left-section {
                .container-line {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 30px;
                    margin-left: 10vw;

                    .line {
                        width: 2px;
                        height: 100%;
                        background-color: #919191;
                        display: flex;
                        flex-direction: column;

                        .divider-line {
                            height: 50%;
                        }

                        .divider-line-future {
                            height: 12%;
                            display: flex;

                            .loading-container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            

                            


                        }

                        .card {
                            height: 90%;
                            width: 50vw;
                            background-color: #1b1b1b;
                            margin-left: 30px;
                            padding: 20px;
                            border-radius: 12px;
                            transition: transform 1s;

                            .title-education-card {
                                justify-content: space-around;
                                display: flex;
                                flex-direction: column;
                                gap: 10px;

                                #img-ifpr {
                                    width: 40px;
                                }

                                img {
                                    width: 80px;
                                }

                                .institute {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: white;
                                }

                                .course {
                                    color: rgb(201, 197, 197);
                                    text-transform: none;
                                    font-weight: 500;
                                    display: flex;
                                    justify-content: space-between;
                                }

                                .description-experience {
                                    font-size: 14px;
                                    font-weight: 400;
                                    text-transform: none;
                                    color: white;
                                    padding-top: 10px;
                                    line-height: 16px;
                                }
                            }

                            &:hover {
                                transform: scale(1.03);
                            }
                        }

                        .card-future {
                            margin-left: 6px;
                            padding: 16px 30px;
                            color: white;
                            font-weight: 300;
                            display: flex;

                            .title-future {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-right: 20px;

                                span {
                                    width: max-content;
                                }
                            }

                            .loading {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        .circle-in-line,
                        .circle2-in-line,
                        .circle3-in-line {
                            background-color: var(--primary-color);
                            width: 10px;
                            height: 10px;
                            margin-left: -4px;
                            border-radius: 50%;
                            position: absolute;
                        }

                        .circle-in-line {
                            margin-top: 20px;

                            .title-future {
                                display: flex;
                                flex-direction: row;

                            }

                        }

                        .circle2-in-line {
                            transition: transform 1s;
                        }

                        .circle3-in-line {
                            margin-bottom: 1rem;
                        }

                        .lds-dual-ring {
                            width: fit-content;
                            height: fit-content;
                            color: #4a4b4b;
        
                            &:after {
                                content: " ";
                                display: block;
                                width: 20px;
                                height: 20px;
                                margin: 8px;
                                border-radius: 50%;
                                border: 5px solid currentColor;
                                border-color: currentColor transparent currentColor transparent;
                                animation: lds-dual-ring 3s linear infinite;
                            }
                        }

                        @keyframes lds-dual-ring {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-copy {
            padding: 10px;
            font-weight: 500;
            color: white;
        }
    }
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

// /* Estilos padrão para telas menores */
// /* Estilos para telas de até 600 pixels de largura */
@media only screen and (max-width: 600px) {
    body {
        .top {
            padding: 0;

            nav {
                display: none;
            }
        }

        .profile-section {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 15px;

            .left-section {
                .profile {
                    margin-bottom: 36px;

                    .name {
                        font-size: 42px;
                    }

                    .profession {
                        font-size: 32px;
                    }

                    .divider {
                        height: 2px;
                    }

                    .social-medias {
                        img {
                            width: 34px;
                        }
                    }
                }
            }

            .right-section {
                img {
                    filter: brightness(40%);
                    height: auto;
                    width: 260px;
                }
            }

            .btn-up {
                filter: brightness(50%);
                z-index: 999;

                img {
                    width: 36px;
                }
            }
        }

        .projects-section {
            .title-projects {
                margin: 20px 0;

                .title {
                    font-size: 26px;
                }
            }

            .container-projects {
                .projects {
                    max-width: 100vw;
                    gap: 80px;

                    .project-um,
                    .project-dois,
                    .project-tres,
                    .project-quatro {
                        display: flex;
                        flex-direction: column;
                        width: auto;

                        .image {
                            width: auto;
                        }

                        .info-project {
                            width: auto;
                            padding: 10px 0;

                            .descriptions {
                                .title {
                                    font-size: 23px;
                                    padding-top: 10px;
                                }
                            }

                            .deploy {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .education-section {
            .container-section {
                .education-content {
                    display: none;
                }
            }
        }
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: all 1.5s;
    }

    footer {
        .footer-copy {
            font-size: 12px;
        }

    }
}