:root {
  --color-links: #ffffff;
  --color-profile: #ECF4FE;
  --primary-color: #BD9729;
  --second-color: #ECF4FE;
  --bgblack: #000000;
  --color-bgboxicons: #3B4559;
  --bgprojects: #0c0c0c;
  --bg-color-education: #151515;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 200vw;
  background-color: var(--bgblack);
}
body .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
body .top .logo {
  width: 55px;
  margin: 15px;
}
body .top nav {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}
body .top nav a {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: var(--color-links);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}
body .top nav a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.6s ease;
  display: flex;
  flex-direction: column;
}
body .top nav a:hover::after {
  width: 60%;
}
body .profile-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  background-image: url("../assets/img/shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body .profile-section .left-section {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
}
body .profile-section .left-section .profile {
  color: var(--color-profile);
}
body .profile-section .left-section .profile .name {
  font-size: 64px;
  text-transform: uppercase;
}
body .profile-section .left-section .profile .profession {
  font-size: 40px;
  font-weight: 200;
}
body .profile-section .left-section .profile .divider {
  width: 160px;
  height: 1px;
  margin: 10px 5px;
  background-color: var(--primary-color);
}
body .profile-section .left-section .profile .social-medias {
  width: 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 5px;
}
body .profile-section .left-section .profile .social-medias img {
  width: 40px;
  transition: transform 0.5s ease;
}
body .profile-section .left-section .profile .social-medias .circle-linkedin img:hover,
body .profile-section .left-section .profile .social-medias .circle-whats img:hover,
body .profile-section .left-section .profile .social-medias .circle-github img:hover {
  transform: scale(1.2);
}
body .profile-section .btn-up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
body .profile-section .btn-up img {
  filter: brightness(80%);
  width: 50px;
}
body .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .right-section {
  align-self: flex-end;
}
body .right-section img {
  filter: brightness(70%);
  width: 400px;
  margin-right: 10px;
}
body .projects-section {
  background-color: var(--bgprojects);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .projects-section .title-projects {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0;
}
body .projects-section .title-projects .title {
  font-weight: 300;
  font-size: 38px;
  text-transform: uppercase;
  color: white;
}
body .projects-section .container-projects {
  color: var(--second-color);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 48px auto;
}
body .projects-section .container-projects .projects {
  display: flex;
  flex-direction: column;
  padding: 10px 32px;
  gap: 64px;
}
body .projects-section .container-projects .projects .project-um {
  width: -moz-min-content;
  width: min-content;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
}
body .projects-section .container-projects .projects .project-um .image {
  width: 500px;
  height: auto;
}
body .projects-section .container-projects .projects .project-um .image img {
  width: 100%;
}
body .projects-section .container-projects .projects .project-um .info-project {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
body .projects-section .container-projects .projects .project-um .info-project .descriptions .title {
  font-size: 32px;
  text-transform: uppercase;
}
body .projects-section .container-projects .projects .project-um .info-project .descriptions .description {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}
body .projects-section .container-projects .projects .project-um .info-project .technologies {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12px;
}
body .projects-section .container-projects .projects .project-um .info-project .technologies img {
  width: 36px;
}
body .projects-section .container-projects .projects .project-um .info-project .deploy {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
body .projects-section .container-projects .projects .project-um .info-project .deploy a {
  width: 140px;
  height: auto;
  background-color: #ECF4FE;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease, color 0.6s ease;
}
body .projects-section .container-projects .projects .project-um .info-project .deploy a:hover {
  background-color: #300046;
  color: white;
}
body .projects-section .container-projects .projects .project-dois {
  width: -moz-min-content;
  width: min-content;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
}
body .projects-section .container-projects .projects .project-dois .image {
  width: 500px;
  height: auto;
}
body .projects-section .container-projects .projects .project-dois .image img {
  width: 100%;
}
body .projects-section .container-projects .projects .project-dois .info-project {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
body .projects-section .container-projects .projects .project-dois .info-project .descriptions .title {
  font-size: 32px;
  text-transform: uppercase;
}
body .projects-section .container-projects .projects .project-dois .info-project .descriptions .description {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}
body .projects-section .container-projects .projects .project-dois .info-project .technologies {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12px;
}
body .projects-section .container-projects .projects .project-dois .info-project .technologies img {
  width: 36px;
}
body .projects-section .container-projects .projects .project-dois .info-project .deploy {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
body .projects-section .container-projects .projects .project-dois .info-project .deploy a {
  width: 140px;
  height: auto;
  background-color: #ECF4FE;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease, color 0.6s ease;
}
body .projects-section .container-projects .projects .project-dois .info-project .deploy a:hover {
  background-color: #2C9B8B;
  color: white;
}
body .projects-section .container-projects .projects .project-tres {
  width: -moz-min-content;
  width: min-content;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
}
body .projects-section .container-projects .projects .project-tres .image {
  width: 500px;
  height: auto;
}
body .projects-section .container-projects .projects .project-tres .image img {
  width: 100%;
}
body .projects-section .container-projects .projects .project-tres .info-project {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
body .projects-section .container-projects .projects .project-tres .info-project .descriptions .title {
  font-size: 32px;
  text-transform: uppercase;
}
body .projects-section .container-projects .projects .project-tres .info-project .descriptions .description {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}
body .projects-section .container-projects .projects .project-tres .info-project .technologies {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12px;
}
body .projects-section .container-projects .projects .project-tres .info-project .technologies img {
  width: 36px;
}
body .projects-section .container-projects .projects .project-tres .info-project .deploy {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
body .projects-section .container-projects .projects .project-tres .info-project .deploy a {
  width: 140px;
  height: auto;
  background-color: #ECF4FE;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease, color 0.6s ease;
}
body .projects-section .container-projects .projects .project-tres .info-project .deploy a:hover {
  background-color: var(--primary-color);
  color: white;
}
body .projects-section .container-projects .projects .project-quatro {
  width: -moz-min-content;
  width: min-content;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
}
body .projects-section .container-projects .projects .project-quatro .image {
  width: 500px;
  height: auto;
}
body .projects-section .container-projects .projects .project-quatro .image img {
  width: 100%;
}
body .projects-section .container-projects .projects .project-quatro .info-project {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
body .projects-section .container-projects .projects .project-quatro .info-project .descriptions .title {
  font-size: 32px;
  text-transform: uppercase;
}
body .projects-section .container-projects .projects .project-quatro .info-project .descriptions .description {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}
body .projects-section .container-projects .projects .project-quatro .info-project .descriptions span {
  font-weight: 700;
}
body .projects-section .container-projects .projects .project-quatro .info-project .technologies {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12px;
}
body .projects-section .container-projects .projects .project-quatro .info-project .technologies img {
  width: 36px;
}
body .projects-section .container-projects .projects .project-quatro .info-project .deploy {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
body .projects-section .container-projects .projects .project-quatro .info-project .deploy a {
  width: 140px;
  height: auto;
  background-color: #ECF4FE;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease, color 0.6s ease;
}
body .projects-section .container-projects .projects .project-quatro .info-project .deploy a:hover {
  background-color: #BE0000;
  color: white;
}
body .education-section {
  height: 100vh;
  background-color: var(--bg-color-education);
}
body .education-section .title-education {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .education-section .title-education .title {
  padding: 26px 0;
  font-weight: 300;
  font-size: 38px;
  text-transform: uppercase;
  color: white;
}
body .education-section .container-section {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
body footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .footer-copy {
  padding: 10px;
  font-weight: 500;
  color: white;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

@media only screen and (max-width: 600px) {
  body .top {
    padding: 0;
  }
  body .top nav {
    display: none;
  }
  body .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
  }
  body .profile-section .left-section .profile {
    margin-bottom: 36px;
  }
  body .profile-section .left-section .profile .name {
    font-size: 42px;
  }
  body .profile-section .left-section .profile .profession {
    font-size: 32px;
  }
  body .profile-section .left-section .profile .divider {
    height: 2px;
  }
  body .profile-section .left-section .profile .social-medias img {
    width: 34px;
  }
  body .profile-section .right-section img {
    filter: brightness(40%);
    height: auto;
    width: 260px;
  }
  body .profile-section .btn-up {
    filter: brightness(50%);
    z-index: 999;
  }
  body .profile-section .btn-up img {
    width: 36px;
  }
  body .projects-section .title-projects {
    margin: 20px 0;
  }
  body .projects-section .title-projects .title {
    font-size: 26px;
  }
  body .projects-section .container-projects .projects {
    max-width: 100vw;
    gap: 80px;
  }
  body .projects-section .container-projects .projects .project-um,
  body .projects-section .container-projects .projects .project-dois,
  body .projects-section .container-projects .projects .project-tres,
  body .projects-section .container-projects .projects .project-quatro {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  body .projects-section .container-projects .projects .project-um .image,
  body .projects-section .container-projects .projects .project-dois .image,
  body .projects-section .container-projects .projects .project-tres .image,
  body .projects-section .container-projects .projects .project-quatro .image {
    width: auto;
  }
  body .projects-section .container-projects .projects .project-um .info-project,
  body .projects-section .container-projects .projects .project-dois .info-project,
  body .projects-section .container-projects .projects .project-tres .info-project,
  body .projects-section .container-projects .projects .project-quatro .info-project {
    width: auto;
    padding: 10px 0;
  }
  body .projects-section .container-projects .projects .project-um .info-project .descriptions .title,
  body .projects-section .container-projects .projects .project-dois .info-project .descriptions .title,
  body .projects-section .container-projects .projects .project-tres .info-project .descriptions .title,
  body .projects-section .container-projects .projects .project-quatro .info-project .descriptions .title {
    font-size: 23px;
    padding-top: 10px;
  }
  body .projects-section .container-projects .projects .project-um .info-project .deploy,
  body .projects-section .container-projects .projects .project-dois .info-project .deploy,
  body .projects-section .container-projects .projects .project-tres .info-project .deploy,
  body .projects-section .container-projects .projects .project-quatro .info-project .deploy {
    width: 100%;
  }
  body .education-section .container-section .education-content {
    display: none;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
  }
  footer .footer-copy {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */